<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>City: {{city}}</p>
<p>Meters: {{meters}}</p>
<p>Price: {{price}}</p>
<p>Street: {{street}}</p>
<img src="./apartments.jpg" alt="apartments">
<h1>You can change something</h1>
<form action="/houses/{{id}}" method="post">
    <p>City:</p><input type="text" name="city">
    <p>Meters:</p><input type="number" name="meters">
    <p>Price:</p><input type="number" name="price">
    <p>Street:</p><input type="text" name="street">
    <input type="submit">
</form>
</body>
</html>